<img style="width: 100%;" class="bg-colored animate__animated animate__flash animate__fast" />
<div class="container">
    <div id="container-child" class="animate__animated animate__flipInX fast">
        <div id="about-me" >
                <h1>About Me</h1>
                    <p>
                        I am Jeuel Joaquin, a licensed Electronics Technician and licensed Electronics Engineer based in the Philippines. I worked at Emerson Electric for 3 years as a Technical Support Engineer. I'm really frustrated at first to be a great software engineer. During the recent pandemic, I used my time to study HTML, CSS and JavaScript. I even gave a lot of time learning JS libraries, bootstrap, and Angular Framework. I wanted to be the best so my learning won't stop on that and will continue to grow as a great developer someday. 
                    </p>
        
                    <p>
                        My life motto is, "Stay Hungry. Stay Foolish". Coding is a continuous learning. You won't stop just at some point, because if you do, many programmers will be ahead of you.
                    </p>
    
        </div>
    </div>
</div>