<img style="width: 100%;" class="bg-mobile animate__animated animate__bounce animate__fast" />

<div class="container">
  <div class="container-child">
    <div
      class="logo cont animate__animated animate__fadeInDown animate__1s"
      id="html-logo"
    >
      <img [src]="htmlLogo" />
    </div>

    <div
      class="logo animate__animated animate__fadeInDown animate__1s"
      id="css-logo"
    >
      <img [src]="cssLogo" />
    </div>

    <div
      class="logo animate__animated animate__fadeInDown animate__1s"
      id="js-logo"
    >
      <img [src]="jsLogo" />
    </div>

    <div
      class="logo animate__animated animate__fadeInDown animate__1s"
      id="angular-logo"
    >
      <img [src]="angularLogo" />
    </div>
  </div>
</div>
