<!-- <img [src]="bgMobile" style="width: 100%;" class="bg-mobile" /> -->
<img style="width: 100%;" class="bg-mobile" />
<div class="main-container">
    <div class="container">
      <div>
        <h1>Hi, I am <span>Jeuel</span>.</h1>
      </div>
      <div class="typed-txt">
        <h2 id="type-txt2"></h2>
      </div>
    
      <div class="social-media">
        <div class="facebook">
          <a href="https://www.facebook.com/john.jeuel" target="_blank">
            <img class="fb1" [src]="fbURL" />
          </a>
        </div>
    
        <div class="twitter">
          <a href="https://twitter.com/jeueljoaqs" target="_blank">
            <img class="twt1" [src]="twt" />
          </a>
        </div>
    
        <div class="linked-in">
          <a
            href="https://www.linkedin.com/in/john-jeuel-joaquin-ece-ect-7516a3115"
            target="_blank"
          >
            <img class="linked-in" [src]="link" />
          </a>
        </div>
    
        <div class="git">
          <a href="https://github.com/penguinxiii" target="_blank">
            <img class="git" [src]="git" />
          </a>
        </div>
      </div>
    </div>

</div>
